<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Listado cursos</title>
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.6.0.js"
		integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	<!-- JavaScript Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
		crossorigin="anonymous"></script>
</head>

<body>
    
<div th:insert="/navbar"></div>

	<div class="container">
		<div class="row">
			<div class="alert alert-info" th:if="${msgExito ne null}">
				[[${msgExito}]]
			</div>
			<div class="alert alert-danger" th:if="${msgEliminado ne null}">
				[[${msgEliminado}]]
			</div>
            <div class="card bg-ligth">
			 <div class="card-header"><h1>Lista cursos</h1></div>
			 <div class="card-body">
			 <div class="card-title">
			 <form class="row" th:action="@{/cursos}">
			   <div class=" col-md-1 mb-2 form-group">
			     <label>Filtrar :</label>
			   </div>
			   <div class="form-group col-md-4 mb-2">
			     <input type="text" name="palabraClave" class="form-control" id="palabraClave" th:value="${palabraClave}" placeholder="Texto a buscar" required="required">
			   </div>
			   <input type="submit" class="btn btn-info text-white col-md-1 mb-3 ms-1" value="Buscar">
			   <input type="button" class="btn btn-secondary col-md-1 mb-3  ms-1 " value="Limpiar" onclick="limpiarCampos()">
			   <a  class="btn btn-success col-md-1 mb-3  ms-1 " th:href="@{/cexportarExcel}">Excel</a>
			   <a  class="btn btn-danger col-md-1 mb-3  ms-1 "  th:href="@{/cexportarPDF}">PDF</a>
			 </form>
			 </div>
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th scope="col">Nombre del curso</th>
						<th scope="col">creditos</th>
						<th scope="col" sec:authorize="hasRole('ADMIN')">Aciones</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="curso:${cursos}">
						<td th:text="${curso.nombrec}">Nombrec</td>
						<td th:text="${curso.creditos}">creditos</td>
						<td sec:authorize="hasRole('ADMIN')">
							<a th:href="@{/cursos/form/{id}(id=${curso.id})}"
								class="btn btn-info text-white">Editar</a>
							<a class="btn btn-danger" th:onclick="eliminar([[${curso.id}]])">Eliminar</a>
						</td>
					</tr>

				</tbody>
			</table>
			<nav th:replace="paginator :: paginator"></nav>
		</div>
	</div>

	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
<script>
    function limpiarCampos(){
	  window.location='/cursos';
    }
	function eliminar(id) {
		swal({
			title: "Estas seguro de eliminar?",
			text: "Los datos eliminados, podrían no recuperarse nunca!",
			icon: "warning",
			buttons: true,
			dangerMode: true,
		})
			.then((ok) => {
				if (ok) {
					$.ajax({
						url: "/cursos/eliminar/" + id,
						success: function (res) {
							console.log(res);
						}
					});
					swal("Estamos eliminando los datos!", {
						icon: "success",
					}).then((ok) => {
						if (ok) {
							location.href = "/cursos";
						}
					});
				} else {
					swal("Usted no eliminó ningun dato!");
				}
			});
	}

</script>

</html>